html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0px;
  /* Margin bottom must be same as footer height to have sticky footer */
  margin: 0px 0px 200px;

  font-family: "ff-good-headline-web-pro-con-n4","ff-good-headline-web-pro-con",sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #303030;
  background-image: url("../img/black-orchid.png");
}

/* Header */
.navbar-inverse {
    background-color: #212121;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #00e5ff;
    background-color: transparent;
}

.navbar-brand > img {
    width: 50px;
}

.navbar-brand {
    font-size: 11px;
    color: #ffffff;
    margin: -15px 0;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;

    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
}

h2 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
}

h2:before, 
h2:after {
    flex-grow: 1;
    height: 1px;
    content: '\a0';
    background-color: #555;
    position: relative;
    top: 0.6em;
}

h2:before {
    margin-right: 10px;
}

h2:after {
    margin-left: 10px;
}

h3 {
    font-family: 'Lato', sans-serif;
}

h4 {
    text-align: center;
}

.jumbotron-fluid {
    background-image: linear-gradient(rgba(46, 48, 56, 0.60), rgba(46, 48, 56, 0.60)), url('../img/background.jpg');
    min-height: 100%;
    padding: 50px 0;
    background-size: cover;
    overflow: hidden;
}

/* Pages */
#home {
    height: 100%;
    width: 100%;
    padding: 50px 0;
    color: #ddd;
}

#about {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    height: auto;
}

#about p {
    font-size: 18px;
    color: #bcbcbc;
    font-weight: 300;
}

#skills {
    padding: 70px 0;
}

#skills h4 {
    padding-top: 50px;
    font-weight: 600;
    color: #fff;
}

#skills img {
    padding: 25px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#skills p {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    color: #bcbcbc;
}

#projects {
    padding: 70px 0;
    height: 100%;
}

#projects h2 {
    padding-bottom: 50px;
}

#projects .col-sm-4 {
    padding: 0;
}

#projects img {
    padding: 5px;
}

#contact {
    padding: 70px 0; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#contact .form-group {
    margin: 25px;
}

#contact .form-control {
    margin: 5px 0;
}

#firstname, #lastname, #email, #phone, #comment {
    background-color: #222;
    color: #fff;
    border-color: #525252;
}

/* Footer */
footer {
    background-color: #333;
    color: #a6abb0;
  
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
    padding-top: 50px;
}

footer img {
  margin: 10px 15px;
}

footer p {
    font-size: 11px;
    color: #fff;
    display: flex;
    justify-content: center;
}

footer ul {
    padding: 20px 0;
    list-style: none;
}


.clock-light {
	width: 400px;
	height: 100px;
/* 	margin-top: 50px;
	margin-left: auto;
	margin-right: auto; */
}

.clock-dark {
	width: 400px;
	height: 100px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333;
	color: #fff;
}

#time {
	font-size: 50px;
	text-align: right;
	margin-right: 40px;
}

#meridiem {
	font-size: 12px;
	font-weight: 500;
	margin-right: 15px;
	text-align: right;
	margin-top: -50px;
}

#date {
	font-size: 12px;
	font-weight: 500;
	text-align: right;
	margin-right: 15px;
}
