html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0px;
  /* Margin bottom must be same as footer height to have sticky footer */
  margin: 0px 0px 200px;

  font-family: Source Sans Pro,Helvetica,Arial,sans-serif,Hiragino Kaku Gothic Pro,Meiryo,Hiragino Sans GB W3,Noto Naskh Arabic,Droid Arabic Naskh,Geeza Pro,Simplified Arabic,Noto Sans Thai,Thonburi,Dokchampa,Droid Sans Thai,Droid Sans Fallback,-apple-system,'.SFNSDisplay-Regular',Heiti SC,Microsoft Yahei,Segoe UI;;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

/* Header */
.fixed-top .scrolled {
  background-color: #f5f5f5 !important;
  transition: background-color 200ms linear;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
	
/*   -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45); */
}

.fixed-top .scrolled .nav-link {
  color:#555;
}

#myNavbar {
  position: relative;
}

.nav-item { 
    margin: 0 15px;
    font-size: .75rem;
    font-weight: 400;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  border: none;
}

.fa-chevron-up {
  color: #888;
}
	
h2 {
    font-size: 2.857rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(0,0,0,.85);
}

h3 {
    margin: 0 auto;
}

h4 {
    text-align: center;
}

.jumbotron-fluid {
    background-image: linear-gradient(rgba(46, 48, 56, 0.60), rgba(46, 48, 56, 0.60)), url('../img/background.jpg');    
    background-attachment: fixed;
    height: 100vh;
    padding: 50px 0;
    background-size: cover;
    overflow: hidden;
}

/* Pages */
#home {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home h3 {
    font-family: proxima-nova, sans-serif;
    font-size: 2rem;
    color: #ddd;
}

#about {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    height: 100%;
}

#about p {
    font-size: 18px;
    color: rgba(0,0,0,.55);;
    font-weight: 300;
}

#skills {
    padding: 70px 0;
    height: 100%;
}

#skills h4 {
    font-size: 2rem;
    padding-top: 50px;
    font-weight: 300;
    color: rgba(0,0,0,.85);
}

#skills img {
    padding: 25px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#skills p {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0,0,0,.55);
}

#projects {
    padding: 70px 0;
    height: 100%;
}

#projects h2 {
    padding-bottom: 50px;
}

#projects .col-sm-4 {
    padding: 0;
}

#projects img {
    padding: 5px;
}

#contact {
    padding: 70px 0; 
    height: 100%;
}

#map{
	width:100%;
	height:400px;
	overflow:hidden;
	position:relative;
}

#contact .form-group {
    margin: 5px;
}

/* #contact .form-control {
    margin: 5px 0;
} */

#firstname, #lastname, #email, #phone, #comment {
    background-color: #fff;
    color: rgba(0,0,0,.55);
    border-color: rgba(0,0,0,.35);
}

/* Footer */
footer {
    background-color: #333;
    color: #a6abb0;
  
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
    padding-top: 50px;
}

footer p {
    font-size: 11px;
    color: #fff;
}

footer ul {
    padding: 20px 0;
    list-style: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width:			13px;
    background: 		#212121;
}

::-webkit-scrollbar-thumb {
    background: 		#555555;
    border-radius:		10px;
}
