html {
    min-height: 100%;
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #303030;
    background-image: url("../img/black-orchid.png");
}

h2 {
	text-align:			center;
  	display: 			flex;
  	flex-direction: 	row;
  	justify-content: 	center;
  	color:			    #fff;
}

h2:before, 
h2:after {
  	flex-grow: 			1;
  	height: 			1px;
  	content: 			'\a0';
  	background-color: 	#555;
  	position: 			relative;
  	top: 				0.6em;
}

h2:before {
    margin-right: 10px;
}

h2:after {
    margin-left: 10px;
}

h3 {
    font-family: 'Lato', sans-serif;
}

h4 {
    text-align: center;
}

p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.jumbotron {
    background-image: 	linear-gradient(rgba(46, 48, 56, 0.60), rgba(46, 48, 56, 0.60)), url('../img/background.jpg');
    width: 				100%;
    height: 			600px;
	background-size: 	cover;
    overflow: 			hidden;
}

/* Pages */
#home {
	height: 			100%;
	width:				100%;
	display:			flex;
    align-items: 		center;
    justify-content: 	center;

    text-align:  		center;
	color:				#ddd;
}

#about {
    padding:			70px 0;
    display: 			flex;
    justify-content: 	center;
    height:				auto;
}

#about p {
	font-size:			18px;
	color:				#bcbcbc;
	font-weight: 		300;
}

#skills {
	padding:			70px 0;
}

#skills h4 {
	padding-top:		50px;
	font-weight:		600;
	color:			    #fff;
}

#skills img {
	padding:			25px 0;
	display:			block;
	margin-left:  		auto;
	margin-right:		auto;
	width:			100px;
}

#skills p {
	text-align: 		left;
	margin-left: 		10px;
	margin-right: 		10px;
	color:			    #bcbcbc;
}

#projects {
	padding:		70px 0;
	height:				100%;
}

#projects h2 {
    padding-bottom: 50px;
}

#projects .col-sm-4 {
    padding: 0;
}

#projects img {
    padding: 5px;
}

#contact {
    padding: 70px 0; 
    height: 100%;
}

.form-group {
/*     display: flex; */
    justify-content: center;
}

.form {
    padding: 70px 0;
}

#firstname, #lastname, #email, #phone, #comment {
    background-color: #222;
    color: #fff;
    border-color: #525252;
}

/* Footer */
.footer {
    background-color: #000;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    padding-top: 15px;
}

.footer p {
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
}

.footer ul {
    list-style: none;
    display: flex; 
    justify-content: flex-end;
}
